@{
    ViewData["Title"] = "Home Page";
}
@section scripts {
    <script type="text/javascript" src="~/js/site.js"></script>
}


<div class="text-left">
    <h1>Internship Landpage</h1>
    <p>Here is our classroom</p>

    <ul id="list">

        @for (var i = 0; i < Model.Members.Count; i++)
        {
            var member = Model.Members[i];

            <li class="member">
                @member
            </li>
        }
    </ul>

    <input id="newcomer" title="Name" type="text" />
    <button id="add">Add new commer</button>

    <p>
        <img src="/img/whiteboard.png" width="200" />
    </p>
    <script src="/js/default.js" type="text/javascript"></script>
</div>
