@{
    ViewData["Title"] = "Home Page";
}
@section scripts {
    <script type="text/javascript" src="~/js/site.js"></script>
    <script type="text/javascript" src="~/js/populateForecast.js"></script>
}
@section styles {
    <!-- Read about this here https://fontawesome.com/icons?d=gallery&p=2 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

@section modalWindows {
    <!-- Modal -->
    <div class="modal fade" id="editClassmate" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Classmate</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Name
                        <input id="classmateName" title="Name" type="text">
                    </p>
                </div>
                <div class="modal-footer">
                    <button id="submit" type="button" class="btn" data-dismiss="modal">Submit</button>
                    <button id="cancel" type="button" class="btn" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
}

<body>
    <div class="text-left">
        <h1>Internship Landpage</h1>
        <p>Here is our classroom</p>

        <ul id="list">

            @for (var i = 0; i < Model.Members.Count; i++)
            {
                var member = Model.Members[i];

            <li class="member row"> <!-- row mandatory for the div below-->
                <span class="name">@member</span><i class="fa fa-remove" onclick="deleteMember(this)"></i>

                <div class="memberInfo">
                    <i class="startEdit fa fa-pencil" data-toggle="modal" data-target="#editClassmate"></i>
                </div>
            </li>
            }
        </ul>

        <input id="newcomer" title="Name" type="text" />
        <button id="add" class="btn btn-primary">
            <i class="fa fa-plus-circle"></i>
            Add new commer
        </button>
        <button id="clear" class="btn btn-secondary">
            <i class="fa fa-cut"></i>
            Clear
        </button>

        <p>
            <img src="/img/whiteboard.png" width="200" />
        </p>

        <div class="weather">
            <p> Date: <div id="date"> 29.03.2021</div> </p>
            <p> Temp: <div id="temperature"> 15 C </div> </p>
            <p> Summ: <div id="summary"> Cool</div> </p>
        </div>

        <script src="/js/site.js" type="text/javascript"></script>
    </div>
</body>