@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
   
    <h1>Internship Landpage </h1>
    <p> Here is our classroom </p>

    <ul id="list">
        <li>Borys</li>
        <li>Liova</li>
        <li>Orest</li>
    </ul>

    <input id="newcomer" title="Name" type="text" />
    <button id="add">Add new commer</button>


    <p> <img src="/img/whiteboard.png" width="200" /> </p>

    <script src="/js/site.js"></script>
</div>
